* {
    margin: 0;
    padding: 0;
    text-align: justify;
    color: whitesmoke;
}

body {
    background-color: #1A1A12;
}

header, #about-me, #my-work, #contact-me {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 50px;
    padding: 0 60px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

/* --------------------------------Title / Nav------------------------------------------- */

header > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    margin-bottom: 30px;
}

header i {
    font-size: 100px;
    margin-left: 90px;
}

#title{
    align-self: center;
}

nav {
    position: relative;
    bottom: -20px;
    font-size: 30px;
    padding: 20px; 
    background-color: #c57ff3;
    width: 100vw;
}

#nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#nav-container a:hover {
    color: black;
}


/* --------------------------------Hero------------------------------------------- */

#hero-banner {
    margin: 20px 0;
}

#hero-container {
    position: relative;
}

#hero-container img {
    height: 300px;
    width: 100vw;
    height: auto;
}

#hero-container h2 {
    position: absolute;
    bottom: 30px;
    right: 40px;
    background-color: #c57ff3;
    color: white;
    padding: 20px;
    border-radius: 3px;
}

/* --------------------------------Main------------------------------------------- */

main {
    margin: auto 20px;
}

/* --------------------------------About Me------------------------------------------- */

#about-me {
    font-size: 20px;
}

#about-me h2 {
    padding-bottom: 30px;
}

/* --------------------------------My Work - Project grid area------------------------------------------- */

#my-work h2 {
    margin: 50px 0;
}

#my-work h3 {
    font-size: 22px;
}

#my-work p {
    font-size: 20px;
}

/* This is to set out the grid layout of the project work section*/
#project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "project1 project1"
    "project2 project3"
    "project4 project5";
}

/* This section sets sytles for each tile in the project work grid*/

.grid-item {
    border: 2px solid #c57ff3;
    border-bottom: 10px solid #c57ff3;
    background-position: center;
    background-size: cover;
    margin: 20px;
    cursor: pointer;
    height: 300px;
    border-radius: 3px;
    box-shadow: 15px 15px 15px rgba(197, 127, 243, 0.3);
}

#project1 {
    grid-area: project1;
    background-image: url("../images/snake2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}

#project2 {
    grid-area: project2;
    background-image: url("../images/drum-kit.JPG");
}

#project3 {
    grid-area: project3;
    background-image: url("../images/pig-dice-game.JPG");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}

#project4 {
    grid-area: project4;
    background-image: url("../images/breathe-app2.JPG");
}

#project5 {
    grid-area: project5;
    background-image: url("../images/scrambled-words.JPG");
}

/* this gives the images on the project tile a darker colour when hovered over */
.darken:hover {
    background-color: rgba(0, 0, 0, 0.6);
    height: 300px;
    margin: 0;
    padding: 0;
    position: relative;
}

/* this makes the hover-card appear on hover to show more project info */
.darken:hover > .hover-card {
    transition: .5s ease;
    opacity: 1;
}

/* this makes the project-title disappear on hover to show the hover-card that has more project info */
.darken:hover > .project-title {
    transition: .5s ease;
    opacity: 0;
}

/* this is the visable title of each project tile - it dissapears on hover to show full project details (hover-card) */
.project-title {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position: relative;
    top: 220px;
    left: 20px;
    height: 60px;
    width: 60%;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    color: white;
}

/*Sets the container of the h3 & p of each project tile to be hidden (it will appear on hover) */
.hover-card {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position: relative;
    top: 19px;
    left: 20px;
    height: 200px;
    width: 60%;
    opacity: 0;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
}

.hover-card * {
    color: black;
}

/* --------------------------------Contact Me------------------------------------------- */

#contact-me {
    margin-bottom: 50px;
    font-size: 20px;
}

#contact-me ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    list-style-type: none;
}

#contact-me li {
    padding: 10px;
}

li span {
    font-weight: 900;
}


#contact-me i {
    font-size: 30px;
}

#contact-me i:hover {
    transform: scale(1.3);
}

/* --------------------------------Footer------------------------------------------- */

footer {
    position: relative;
    height: 70px;
    width: 102%;
    background-color: #c57ff3;
}

footer div {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer div > a > i {
    margin: 20px;
    justify-content: center;
    font-size: 30px;
}

footer div > a > i:hover {
    transform: scale(1.3);
}


/* --------------------------------Media Queries------------------------------------------- */

@media only screen and (max-width: 600px) {
    header, #about-me, #my-work, #contact-me {
        padding: 0 20px;
    }

    header > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header i {
    margin-left: 0;
    margin-top: 30px;
}

    #nav-container {
        font-size: 20px;
    }

    #project-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "project1"
        "project2" 
        "project3"
        "project4" 
        "project5";
    }

    #hero-container h2 {
        padding: 10px;
        font-size: 20px;
    }
}